<!DOCTYPE> 
<html>
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- LESS -->
    <link rel="stylesheet/less" type="text/css" href="styles/custom.less">
    <script src="/bower_components/less/dist/less.js"></script>
    
    <!-- ANGULAR -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>

    <!-- OPENLAYERS -->
    <script src='node_modules/openlayers/dist/ol.js'></script>

    <script src='scripts/app.js'></script>
    <script src='scripts/main.controller.js'></script>    
    <script src='scripts/directives/map/map.directive.js'></script>   

    <base href="/"></base>
  </head>

  <body ng-app="coluApp">

     <div ng-controller="mainController" class="container"> 

       <div class="row" ng-if="voyages" >

          <div class="col-sm-3 list" ng-hide="(smallScreenSize() && showActive.shipTrue)" ng-include src="'templates/list-description.html'">
            
          </div>
          <div ng-if="(!smallScreenSize() || showActive.shipTrue)" class="col-sm-4 content" ng-include src="'templates/parameters-description.html'">
          </div>  

          <map ng-if="!smallScreenSize()"></map> 
         
          

        </div>
        
      
       </div>

</html>