<h3>{{activeShip.shipName | uppercase}}</h3>

<div ng-repeat="parameter in activeShip.rangeParameters">
    <h2 >{{parameter.label}}</h2>
  
   <!--  ng-class="{good: activeShip.time.status == true, bad: activeShip.time.status == false}" ng-hide="editorEnabled[0]"  -->

    <div ng-hide="editorEnabled[parameter.number]">
      Undre gräns: {{parameter.lowerLimit}} {{parameter.unit}}. Övre gräns: {{parameter.upperLimit}} {{parameter.unit}}.
      <button ng-click="enableEditor(parameter.number)">Modify</button>
    </div>
    

    <div ng-show="editorEnabled[parameter.number]">
      Undre gräns: <input ng-model="parameter.lowerLimit" ng-show="editorEnabled[parameter.number]"> {{para.unit}}.
      Övre gräns: <input ng-model="parameter.upperLimit" ng-show="editorEnabled[parameter.number]">  {{para.unit}}. 
      <button ng-click="save(parameter.number)">Save</button>     
    </div>
</div>
  
<div ng-repeat="parameter in activeShip.singleParameters">
    <h2>{{parameter.label}}</h2>
    <div ng-hide="editorEnabled[parameter.number]">

      <!-- ng-class="{good: activeShip.combinedWave.status == true, bad: activeShip.combinedWave.status == false}"-->
      Maximalt värde: {{parameter.upperLimit}} meter. 

      <button ng-click="enableEditor(parameter.number)">Modify</button>
    </div>

    <div ng-show="editorEnabled[parameter.number]">
      Maximal värde: <input ng-model="parameter.upperLimit" ng-show="editorEnabled[parameter.number]"> {{parameter.unit}}.
      <button ng-click="save(parameter.number)">Save</button>
    </div>
</div>

 <button ng-if="isBad(activeShip)" ng-click="handel(activeShip)"><i class="glyphicon glyphicon-pencil"></i>HANTERA</button>
</div>