 <h3>SKEPP</h3>

<table class="table table-str"> 

  <tbody class="bad">

  <div><input id="search" placeholder="Sök.. "ng-model="searchShip.ship.shipName"></div>

    <tr ng-repeat="voyage in voyagesBad | filter:searchShip" ng-class="{'active': voyage == activeVoyage }">

      <td ng-click="showActive(voyage); disableEditor(0); disableEditor(1); disableEditor(2); disableEditor(3); disableEditor(4); disableEditor(5)">

        {{voyage.ship.shipName | uppercase}}
          
          <i ng-class="{'glyphicon glyphicon-time': voyage.rangeParameters.time.status == 'BAD'}"></i>
  
          <i ng-class="{'glyphicon glyphicon-dashboard': voyage.rangeParameters.velocity.status == 'BAD'}"></i>

          <i ng-class="{'glyphicon glyphicon-cloud': voyage.singleParameters.wind.status == 'BAD'}"></i>

          <i ng-class="{'glyphicon glyphicon-scale': voyage.singleParameters.fuel.status == 'BAD'}"></i>

          <i ng-class="{'glyphicon glyphicon-refresh': voyage.singleParameters.current.status == 'BAD'}"></i>

          <i ng-class="{'glyphicon glyphicon-tint': voyage.singleParameters.combinedWave.status == 'BAD'}"></i>

      </td>
    </tr>

  </tbody>

  <tbody class="handled" ng-class="{'active': voyage == activeVoyage }">
    <tr ng-repeat="voyage in voyagesHandled | filter:searchShip">
      <td ng-click="showActive(voyage); disableEditor(0); disableEditor(1); disableEditor(2); disableEditor(3); disableEditor(4); disableEditor(5)">
        {{voyage.ship.shipName | uppercase}} 
      </td>
    </tr>
  </tbody>

  <tbody class="good">
    <tr ng-repeat="voyage in voyagesGood | filter:searchShip">
      <td ng-click="showActive(voyage); disableEditor(0); disableEditor(1); disableEditor(2); disableEditor(3); disableEditor(4); disableEditor(5)">
        {{voyage.ship.shipName | uppercase}}
      </td>
    </tr>
  </tbody>

</table>

