 <h3>SKEPP</h3>

<table class="table table-hover table-str"> 

  <tbody class="bad">
    <tr ng-repeat="voyage in voyagesBad">
      <td ng-click="showActive(voyage); save(0); save(1); save(2); save(3); save(4); save(5)">
        {{voyage.voyageName | uppercase}}
      </td>
    </tr>
  </tbody>
  
  <tbody class="handled">
    <tr ng-repeat="voyage in voyagesHandled">
      <td ng-click="showActive(voyage); save(0); save(1); save(2); save(3); save(4); save(5)">
        {{voyage.voyageName | uppercase}}
      </td>
    </tr>
  </tbody>

  <tbody class="good">
    <tr ng-repeat="voyage in voyagesGood">
      <td ng-click="showActive(voyage); save(0); save(1); save(2); save(3); save(4); save(5)">
        {{voyage.voyageName | uppercase}}
      </td>
    </tr>
  </tbody>

</table>