
<ul class="list-inline">
  <li>

    <button type="button" class="btn btn-default btn-lg" ng-click="goBack()" ng-if="smallScreenSize()">
      <i class="glyphicon glyphicon-chevron-left " id="back">    </i>
    </button>
  
  </li>

  <li>
    <h2>{{activeVoyage.voyageName | uppercase}}</h2> <br>

    <h4> {{activeVoyage.ship.shipName | uppercase}}</h4>

  </li>
</ul>
<div class="wrap-location">
<div class="departure"><h4> Avgångshamn </h4> <h4 class="dep" ng-click="updateMap('dep')" > <i  class="glyphicon glyphicon-map-marker"></i> <a> {{activeVoyage.departure}}</a> </h4> </div>
<div class="destination">
  <h4> Ankomsthamn </h4>
 <h4 class="dest" ng-click="updateMap('dest')" >  <i class="glyphicon glyphicon-map-marker"></i>   <a> {{activeVoyage.destination}} </a> </h4>
</div>
</div>

<!--***************************************************-->
<!-- Time -->
  <div class="detail-box" >
  <!--   <ul class="list-inline">
      <li> Avgångshamn {{activeVoyage.departure}}</li>
      <li> Destination {{activeVoyage.destination}}</li>
      </ul> -->
    <ul class="list-inline">
      <i class="glyphicon glyphicon-time test"></i>
      <li>
        <h4> {{activeVoyage.rangeParameters.time.label | uppercase}} <i  ng-class="{'glyphicon glyphicon-warning-sign bad': activeVoyage.rangeParameters.time.status == 'BAD'}" ></i></h4>
      </li>
      
      <li>
        <button type="button" class="btn btn-default btn-sm " ng-click="enableEditor(activeVoyage.rangeParameters.time.number)" ng-hide="editorEnabled[activeVoyage.rangeParameters.time.number]">
          <i class="glyphicon glyphicon-pencil"></i>
        </button>

        <button ng-click="save(activeVoyage.rangeParameters.time.number)" type="button" class="btn btn-default btn-sm" ng-show="editorEnabled[activeVoyage.rangeParameters.time.number]">
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </button>  
      
      </li>
    </ul>


    <div ng-hide="editorEnabled[activeVoyage.rangeParameters.time.number]">
    <!-- ng-class="{good: parameter.status == true, bad: paramameter.status == false}" -->
       
      
      
      <div class="col-xs-6">
        Schemalagd
        <p class="time_parameter">{{activeVoyage.rangeParameters.time.initial}}</p>
      </div>
 
    </div>

    <div ng-show="editorEnabled[activeVoyage.rangeParameters.time.number]">


      <div class="col-xs-6 right" ng-show="editorEnabled[activeVoyage.rangeParameters.time.number]">
        Undre gräns (h): <br>
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        <input id="time_input" ng-model="activeVoyage.rangeParameters.time.lowerLimit" ng-show="editorEnabled[activeVoyage.rangeParameters.time.number]"> {{para.unit}}
      </div>
      
      <div class="col-xs-6 left" ng-show="editorEnabled[activeVoyage.rangeParameters.time.number]">
        Övre gräns (h): <br>
        <input id="time_input" ng-model="activeVoyage.rangeParameters.time.upperLimit" ng-show="editorEnabled[activeVoyage.rangeParameters.time.number]">  {{para.unit}}
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        
      </div>   

    </div>


    <div class="col-xs-6" id="current" ng-class="{bad: activeVoyage.rangeParameters.time.status == 'BAD'}" ng-hide="editorEnabled[activeVoyage.rangeParameters.time.number]">
      Aktuell
      <p class="time_parameter">{{activeVoyage.rangeParameters.time.current}}</p>

    </div>

</div>

<!--***************************************************-->
<!-- Velocity -->

<div class="detail-box" >

  <ul class="list-inline">
      <i class="glyphicon glyphicon-dashboard test"></i>
      <li>
        <h4> {{activeVoyage.rangeParameters.velocity.label | uppercase}} <i  ng-class="{'glyphicon glyphicon-warning-sign bad': activeVoyage.rangeParameters.velocity.status == 'BAD'}" ></i></h4>
      </li>
      
      <li>
        <button type="button" class="btn btn-default btn-sm " ng-click="enableEditor(activeVoyage.rangeParameters.velocity.number)" ng-hide="editorEnabled[activeVoyage.rangeParameters.velocity.number]">
          <i class="glyphicon glyphicon-pencil"></i>
        </button>

        <button ng-click="save(activeVoyage.rangeParameters.velocity.number)" type="button" class="btn btn-default btn-sm" ng-show="editorEnabled[activeVoyage.rangeParameters.velocity.number]">
        <i class="glyphicon glyphicon-floppy-disk"></i>
        </button>

      </li>
    
  </ul>

    <!-- Oskar Had time.number -->
    <!-- <div ng-hide="editorEnabled[activeVoyage.rangeParameters.time.number]"> -->
    
    <div ng-hide="editorEnabled[activeVoyage.rangeParameters.velocity.number]">
    <!-- ng-class="{good: parameter.status == true, bad: paramameter.status == false}" -->
      <div class="parameter">
        Undre gräns: {{activeVoyage.rangeParameters.velocity.lowerLimit}} {{activeVoyage.rangeParameters.velocity.unit}}. 
      </div>
      <div class="parameter">
        Övre gräns: {{activeVoyage.rangeParameters.velocity.upperLimit}} {{activeVoyage.rangeParameters.velocity.unit}}.
                   {{activeVoyage.rangeParameters.velocity.required}} 
      </div>

    </div>

    <div ng-show="editorEnabled[activeVoyage.rangeParameters.velocity.number]">

      <div class="parameter">
        Undre gräns: <input ng-model="activeVoyage.rangeParameters.velocity.lowerLimit" ng-show="editorEnabled[activeVoyage.rangeParameters.velocity.number]"> {{activeVoyage.rangeParameters.velocity.unit}}.
      </div>
       
      <div class="parameter">
        Övre gräns: <input ng-model="activeVoyage.rangeParameters.velocity.upperLimit" ng-show="editorEnabled[activeVoyage.rangeParameters.velocity.number]">  {{activeVoyage.rangeParameters.velocity.unit}}.
      </div>

    </div>

    <div id="current" ng-class="{bad: activeVoyage.rangeParameters.velocity.status == 'BAD'}">
      <p class="parameter">Aktuell {{activeVoyage.rangeParameters.velocity.label}} : {{activeVoyage.rangeParameters.velocity.current}} {{activeVoyage.rangeParameters.velocity.unit}}.</p>
    </div>

</div>
  
<!-- *************************************************************** -->

  <!-- $index+2, because the loop above as already used two iterations--> 
<div ng-repeat="parameter in activeVoyage.singleParameters">
    
    <div class="detail-box">
      <ul class="list-inline">
      <i ng-class="icons[$index]" class="test"></i>
        <li>
          <h4 >  {{parameter.label | uppercase}} <i ng-class="{'glyphicon glyphicon-warning-sign bad': parameter.status == 'BAD'}" ></i></h4>
        </li>
        
        <li>
          <button type="button" class="btn btn-default btn-sm" ng-click="enableEditor($index + 2)" ng-hide="editorEnabled[$index + 2]">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>

          <button ng-click="save($index + 2, parameter.name)" type="button" class="btn btn-default btn-sm" ng-show="editorEnabled[$index + 2]">
            <i class="glyphicon glyphicon-floppy-disk" ></i>
          </button>  

        </li>
      
      </ul>

      <div class="parameter" ng-hide="editorEnabled[$index + 2]">

          Maximalt värde: {{parameter.upperLimit}} {{parameter.unit}}. 

      </div>


      <div class ="parameter" ng-show="editorEnabled[$index + 2]">
        Maximalt värde: <input ng-model="parameter.upperLimit" ng-show="editorEnabled[$index + 2]"> {{parameter.unit}}.

      </div>


      <div id="current" ng-class="{bad: parameter.status == 'BAD'}">
        <p class="parameter">
          Aktuell {{parameter.label}} : {{parameter.current}} {{parameter.unit}}.
        </p>
      </div>

  </div>

</div>

  <!-- *********************************************************** -->

<button type="button" class="btn btn-default btn-lg handled" ng-if="isBad(activeVoyage)" ng-click="handle(activeVoyage); goBack();">
  <i class="glyphicon glyphicon-ok"></i>
</button>