@base: #000;
@red-base: #B93436;
@darkred-base: #8F282A;
@lightred-base: #dc999a;
@blue-base: #069DBF;
@green-base: #009C73;
@darkgreen-base: #006E51;
@lightgreen-base: #92D0C0;
@yellow-base: #F7AE10;
@lightyellow-base:#FAD769;
@darkyellow-base: #BFB95A;
@gray-base: #f5f5f5;
@darkgray-base: #ADADAD;
@lightgray-base: lighten(@gray-base, 33.5%);

::-webkit-scrollbar { 
    display: none; 
}


body {
	font:15px/1.1 'Open Sans', sans-serif;
	color: #000000;
	font-weight: lighter;
}


tbody {
	border-bottom: 10px solid @gray-base;
	
}

input {
	 width: 15%;

}


.row{
	margin: auto;
}

#map {
	height: 100%;
}

.parameter {
	margin: 10 0 0 35px;	
	padding: 3px;	
	box-sizing: border-box;
}

.time_parameter {
	padding: 5px;
	margin: 10 0 10 0;	
	box-sizing: border-box;
}

#time_input{
	margin: 5% 0 15% 0;
	width: 40%;
}

.line-through {
	text-decoration: line-through;
}

.container {

   table{
		tr{
			cursor: pointer;	
		}
	}

}

.list {
	border-right: 10px solid transparent;
	min-height: 100%;
    height: 100%;
	text-align: center;
	overflow: scroll;
}

.content {
	h2{
		margin: 0;
	}
	min-height: 100%;
    height: 100%;
	overflow: scroll;
}

i.bad{
	color: @darkred-base;
	margin: 0 5px;
	top: 0px !important;
}

.right {
	text-align: right;
}



.bad {
	

	i {
		margin-right: 2px;
	}
	p {
		padding: 5px;
		border: solid 2px @red-base;
		border-radius: 5px;
	}

	tr {
		/* WebKit (Safari/Chrome) Only */
		  -webkit-text-stroke: 0.3px black;
		  font-weight: 500;
		  /* If we weren't using text-shadow, we'd set a fallback color
		     and use this to set color instead
		    -webkit-text-fill-color: white; */
		  
		  color: white;
		  
		  text-shadow:
		    1px 1px 0 #000,
		    /* Simulated effect for Firefox and Opera
		       and nice enhancement for WebKit */
		   -0px -0px 0 #000,  
		    0px -0px 0 #000,
		   -0px  0px 0 #000,
		    0px  0px 0 #000;
		background-color: @red-base;
		&:hover{
				background: @darkred-base;
			}
	}
}

.good {

	p {
		border: none;
	}

	tr {
		 /* WebKit (Safari/Chrome) Only */
		  -webkit-text-stroke: 0.3px black;
		  font-weight: 500;
		  /* If we weren't using text-shadow, we'd set a fallback color
		     and use this to set color instead
		    -webkit-text-fill-color: white; */
		  
		  color: white;
		  
		  text-shadow:
		    1px 1px 0 #000,
		    /* Simulated effect for Firefox and Opera
		       and nice enhancement for WebKit */
		   -0px -0px 0 #000,  
		    0px -0px 0 #000,
		   -0px  0px 0 #000,
		    0px  0px 0 #000;
		background-color: @green-base;
		&:hover{
				background: @darkgreen-base;
			}
	}


}

.handled {

	tr {
		background-color: @yellow-base;
		/* WebKit (Safari/Chrome) Only */
		  -webkit-text-stroke: 0.3px black;
		  font-weight: 500;
		  /* If we weren't using text-shadow, we'd set a fallback color
		     and use this to set color instead
		    -webkit-text-fill-color: white; */
		  
		  color: white;
		  
		  text-shadow:
		    1px 1px 0 #000,
		    /* Simulated effect for Firefox and Opera
		       and nice enhancement for WebKit */
		   -0px -0px 0 #000,  
		    0px -0px 0 #000,
		   -0px  0px 0 #000,
		    0px  0px 0 #000;
		&:hover{
				background: @darkyellow-base;
			}
	}
}

.detail-box {

	margin-top: 5%;
	
	.btn {
		margin:0 0 0 1% !important; 
	}
}

.wrap-location{
	overflow:auto;
	text-align: center;	
	.departure{
		display:inline-block;
		float:left;
		max-width: 50%;
		h4.dep{
			cursor: pointer;
			text-align: center;
			a{
				text-decoration: none;
			}
		}
	}
	.destination{
		display:inline-block;
		// float:right;
		h4.dest{	
			cursor: pointer;
			text-align: center;
			a{
				text-decoration: none;
			}
		}

	}
}
.list-inline {

	margin: 3% 0 1% 0;
	
	.btn {
			background-color: transparent;
			border: none;
			padding: 0 0 5px 0;
			margin: 0;
			vertical-align: baseline;

			&:hover {
				color: @darkgray-base;
				background-color: transparent;
		}
	}

	h3, h4 {
			margin:0;
			padding: 0;
		}

	li {
		padding: 0;

	}

	.glyphicon {
		top: -2px;
		margin: 0 5px;
		// left: 5px;
	}

	.test {
		margin: 0px 5px 0px 0px;
		top: 2px;
	}
}

h4.inline{
	display:inline;
	
}
h4.left{
	float:left;
}
h4.right{
	float:right;
}
h4.margin-left{
	margin-left: 10px;


}
#current {
	display: inline-block;

}

#search {
	width: 100%;
}

.col-sm-5 {
	padding-left: 0 !important;
}

.col-xs-6{
	margin-top: 3%;
}
/*For margin between columns*/
[class*="col-sm"] {
	min-height: 98%;
    height: 98%;
	background-color: @gray-base;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    padding: 2%;
    .btn {
    	margin: 3% 0 0 0;
    }
}


.table > tbody > tr.active > td {
  background-color: @lightred-base;
}
.table > tbody.good > tr.active > td {
  background-color: @lightgreen-base;
}
.table > tbody.handled > tr.active > td {
  background-color: @lightyellow-base;
}




@media (min-width: 992px){
	.container {
		width: 100%;
	}
}

@media (max-width: 768px){
	#back {
		margin-right: 20px;
	}

	.container {

		padding: 0;
	}
	.content{	

		position: relative;
		top:0;
		bottom:0;
		left:0;
		right:0;
		padding: 5%;

		h2 {
			text-align: center;
			margin-bottom: 10%;
		}
	}

	[class*="col-"] {
    	margin: 0;
    	border: none;
	}

}
