
@red-base: #B93436;
@blue-base: #069DBF;


.list {
	background-color: @red-base;
	
}

.content {
	background-color: @blue-base;
}

/*For margin between columns*/
[class*="col-"] {
    background-clip: padding-box;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
}

@media (max-width: 768px){
	.content{
		background: @blue-base;
		position: fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}
}