
html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
  
}


.container 
{


}
.container p{
  -moz-hyphens:auto;
  -ms-hyphens:auto;
  -webkit-hyphens:auto;
  hyphens:auto;
  word-wrap:break-word;
}

#map-canvas{
  height: 100%;
  /*border: 1px solid black;*/
  padding: 0;
}
.popup-label{
  opacity: 0;
  transform: translateX(-50%) translateY(-20px);
  cursor: pointer;
} 
.popup-label:hover{
  opacity: 1;
} 
.sliderWrapper{
  margin: 20px auto;
  position:fixed;
  top: 10px;
  z-index: 40;
  left: 0;
  right: 0;

  /*//transform: translateX(-50%);*/
}
#timeslider{
  width: 400px;
  margin: 0 auto;
  display: block;
}
/*
.shipmarker .shipname{
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
}

.shipmarker:hover .shipname{
  opacity: 1;
}*/